#myList{
  margin-left:auto;
  margin-right: 20px;
  margin-top: 6px;
}

@media screen and (max-width:1024px) {
  #myList {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      top: 60px;
      right:-95%;
      width: 90%;
      height: 100vh;
      background: #301934;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 40px 0 0 10px;
  
    }

        #myList.active {
          right: 0px;
        }
}


